.contactList {
    max-width: 800px;
    margin: auto;
    list-style: disc;
}

.contactItem{
   display: flex;
       align-items: center;
}

.contactItem p:first-child{
    margin-right: 20px;
}

.contactItem p{
    width: 49%;
    text-align: left;
}